html{width: 80%;
    margin: 0 auto;
    background-color: floralwhite;
    font-family: Papyrus;

}
.first {
    color: goldenrod;
}
#test {
    font-size: large; color: saddlebrown;
}
.lol {
    color: blue;
}